## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

#### What percentage of all licensed sets ever released were Star Wars themed?

In [1]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

df = pd.read_csv('lego_sets.csv')
parent_theme = pd.read_csv('parent_themes.csv')

In [14]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [13]:
parent_theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

Obtendo todos os temas que são licenciados:

In [35]:
licensed_themes = parent_theme.loc[parent_theme['is_licensed'] == True]['name'].tolist()
licensed_themes[0:3]

['Star Wars', 'Harry Potter', 'Pirates of the Caribbean']

Verificando quantos valores NaN temos na coluna set_num, esses valores devem ser eliminados, visto que valores NaN indicam que o set é uma duplicata ou é inválido

In [43]:
df['set_num'].isna().sum()

153

Criando o df sem sets inválidos:

In [48]:
df = df.dropna(subset=['set_num'])

df['set_num'].isna().sum()

0

DataFrame com apenas os sets licenciados e válidos

In [107]:
licensed_sets = df.loc[df['parent_theme'].isin(licensed_themes)== True]
licensed_sets.reset_index(inplace=True, drop=True)

In [ ]:
# licensed_total = licensed_sets['set_num'].count() 
#licensed_star_wars = licensed_sets.loc[licensed_sets['parent_theme'] == 'Star Wars']['set_num'].count()

# df.shape retorna uma tupla da seguinte forma: (# de linhas, # de colunas), selecionando shape[0], temos, então o número de linhas do data frame 
# e como é o dataframe com os sets licensiados, acessamos todos os sets licenciados que foram vendidos

licensed_total = licensed_sets.shape[0]
licensed_star_wars = licensed_sets.loc[licensed_sets['parent_theme'] == 'Star Wars'].shape[0]

print(licensed_total)

1179

In [106]:
the_force = licensed_star_wars/licensed_total
print(int(the_force*100))

51

#### In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?

Total de vendas de sets de Lego, por ano.

In [139]:
total = licensed_sets.groupby('year')['set_num'].count().to_dict()
print(total)

{1999: 13, 2000: 31, 2001: 25, 2002: 50, 2003: 40, 2004: 40, 2005: 35, 2006: 24, 2007: 21, 2008: 43, 2009: 48, 2010: 63, 2011: 81, 2012: 109, 2013: 86, 2014: 99, 2015: 107, 2016: 121, 2017: 143}

Quantidade de sets Star Wars vendidos, por ano.

In [126]:
star_wars_total = licensed_sets.loc[licensed_sets['parent_theme'] == 'Star Wars'].groupby('year')['set_num'].count().to_dict()

In [ ]:
star_wars_pct = {k: int((star_wars_total[k] / total[k])*100) for k in total}
min_star_wars_pct = min(star_wars_pct.values()) #acessando o menor valor do dicionário

# para cada key "k" e cada valor "v" no dicionário, eu quero obter a key "k" se o valor "v" correspondente a essa key "k" for igual ao valor mínimo.
new_era = [k for k, v in star_wars_pct.items() if v==min_star_wars_pct] 
# verificamos todas as keys "k", e todos os valores "v" correspondentes, e obtemos os valores do dicionario ".items()" que são iguais ao valor mínimo, ou seja, a verificamos se
# v==min; se (v == min) == True, pegamos a key "k", correspondente a esse valor "v", e adicionamos na lista.

print(new_era)

[2017]